/* Elemente HTML */
*{
    scroll-behavior: smooth;
}

:root{
    --primary: hsl(120, 2%, 52%, 0.35);
    --secondary: hsl(120, 2%, 52%, 0.35);
}

body{
    /* background-image: url(/images/bg-img.jpg); */
    /* background-size: 100%; */
    width:100%; 
    overflow-x: hidden;
}

::-webkit-scrollbar {
    display: none;
}



h1{
    font-family: "Montserrat-Black", sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
}

h3{
    font-family: "Montserrat-Black", sans-serif;
    font-weight: 900;
    font-size: 1.5rem;
}

h2{
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.5;
}


p{
    font-family: 'Montserrat', sans-serif;
    color: #8f8f8f
}

/* Keyframes */

@keyframes slideInLeft {

    from {
        transform: translateX(-300px);
        opacity: 0;
    }

    to{
        transform: translateX(0);
        opacity: 1;
    }
}

/* NAVBAR AND HEADER */

#title{
    background-image: linear-gradient(135deg, var(--primary), var(--secondary)),
    url(../images/newbg.jpg);
    background-size: cover;
    margin: auto;
    color: white;
}

.nav-link{
    color: white !important;
    /* font-family: 'Bangers', cursive !important; */
    font-family: 'Space Mono', monospace !important;
    font-weight: 700;
    text-shadow: -4px 2px 2px #000000;
}

.firstText{
    /* font-family: 'Bangers', cursive; */
    font-family: "Montserrat", sans-serif;
    text-shadow: -6px 2px 3px rgba(0,0,0,0.94);
    color: #ffffff;
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 900;
    animation-name: slideInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
}

#firstTextBalta{
    opacity: 1;
    transition: all 0.4s ease-in-out;
}

.container-fluid{
    padding: 3% 15%;
}

.navbar {
    padding-bottom: 4.5rem;
}

#brandTitle{
    font-size: 2.5rem;
    font-weight: bold;
    animation-name: slideInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
}

.nav-item{
    padding: 0 2px;
}

.nav-link{
    font-size: 1.2rem;
    font-family: "Montserrat-Light";
    animation-name: slideInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
}

.navbar-toggler{
    border: none;
    color: solid white !important;
}


#dropIcon{
    color: white !important;
}

.navbar-toggler-icon{
    background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}


/* Download Buttons */

.download-button{
    margin: 5% 3% 5% 0;
    animation-name: slideInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
}

/* ANIMATIE DROPDOWN */
.dropdown-menu{
    text-align: center;
    opacity: 1;
}

#row img:hover{
    transition: 0.4s;
    width: 25rem;
}


#capturi{
    font-family: 'Bangers', cursive;
    text-shadow: -6px 2px 3px rgba(0,0,0,0.94);
    padding: 1%;
}


#baltaPleasa{
    width: 45rem; 
    border-radius: 15px;
    -webkit-box-shadow: 7px 11px 9px -2px rgba(0,0,0,0.89); 
    box-shadow: 7px 11px 9px -2px rgba(0,0,0,0.89);
    margin:auto;

}

#baltaPleasa2{
    width: 45rem; 
    border-radius: 15px;
    -webkit-box-shadow: 7px 11px 9px -2px rgba(0,0,0,0.89); 
    box-shadow: 7px 11px 9px -2px rgba(0,0,0,0.89);
    margin:auto;

}

/* Features section */

#features{
    position: relative;
    background: rgb(61,89,65);
    background: linear-gradient(0deg, rgba(61,89,65,1) 0%, rgba(246,237,237,1) 25%, rgba(246,237,237,1) 100%, rgba(0,0,0,1) 100%);
    padding: 7% 15%;
    z-index: 1;
}

#details{
    text-align: center;
    padding: 4.5%;
    animation-name: slideInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
}

#circleIcon{
    font-size: 3.5rem;
    line-height: 1.5;
    color: #263A29;
    margin-bottom: 1rem;
    animation-name: slideInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
}

#circleIcon:hover{
    color:#41644A;
}

#bullseye{
    font-size: 3.5rem;
    line-height: 1.5;
    color: #263A29;
    margin-bottom: 1rem;
    animation-name: slideInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
}

#bullseye:hover{
    color:#41644A;
}


#heart{
    font-size: 3.5rem;
    line-height: 1.5;
    color: #263A29;
    margin-bottom: 1rem;
    animation-name: slideInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
}

#heart:hover{
    color: #41644A;
}

/* Capturi Section */

#testimonials{
    text-align: center;
    /* background: #3d5941;
    background: linear-gradient(153deg, rgba(61,89,65,1) 0%, rgba(38,58,41,1) 30%, rgba(38,58,41,1) 81%, rgba(61,89,65,1) 100%); */
    background: rgb(246,237,237);
    background: linear-gradient(0deg, rgba(246,237,237,1) 0%, rgba(61,89,65,1) 6%, rgba(61,89,65,1) 100%, rgba(246,237,237,1) 100%);
    color: white;
    overflow-x: hidden;
}

#poza{
    border-radius: 15px;
    width: 20rem;
    margin: 5%;
    margin-bottom: 15%;
    cursor: pointer;
    -webkit-box-shadow: 7px 11px 9px -2px rgba(0,0,0,0.89); 
    box-shadow: 7px 11px 9px -2px rgba(0,0,0,0.89);
}

.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}


/*  Pricing Section */

#pricing{
    padding: 100px;
    text-align: center;
    background: rgb(61,89,65);
    background: linear-gradient(0deg, rgba(61,89,65,1) 0%, rgba(246,237,237,1) 25%, rgba(246,237,237,1) 100%, rgba(0,0,0,1) 100%);
}

.pricing-column{
    padding: 3% 2%;
}


#cta{
    color: white;
    font-family: 'Bangers', cursive;
    background: rgb(41,43,44);
    background: linear-gradient(0deg, rgba(41,43,44,1) 0%, rgba(61,89,65,1) 43%);
    padding: 7% 15%;
    text-align: center;
}



.cta-text{
    font-family: "Montserrat";
    text-shadow: -6px 2px 3px rgba(0,0,0,0.94);
    font-size: 2.5rem;
    font-weight: 900;
    width: 45rem;
    margin: auto;
}

#map{
    margin-top: 45px;
}




/* Footer */

.iconFooter{
    margin: 0.5rem;
}

#footer{
    text-align: center;
    padding: 5% 15%;
}



#footer p h6{
    color: white;

}

footer{
    background: rgb(61,89,65);
    background: linear-gradient(0deg, rgba(61,89,65,1) 0%, rgba(41,43,44,1) 0%);
}

.footer{
    color: white;
}


/* Scroll to top */
@media (min-width: 700px) {
    .scrollTop{
    position: fixed;
    text-align: center;
    font-size: 1.4rem;
    width: 4rem;
    bottom: 60px;
    right: 50px;
    padding: 15px 15px;
    background-color: #fff;
    border-radius: 60%;
    cursor: pointer;
    transition: all 0.5s ease 0s;
}

.scrollTop:hover{
    background-color: rgb(247, 207, 207);
    box-shadow: 7px 11px 9px -2px rgba(0,0,0,0.89);
    color: #000;
}

}

/* Media Querries */

/* @media (max-width: 1589px){
    #baltaPleasa{
        width: 35rem;
    }
}

@media (max-width: 1290px){
    #baltaPleasa{
        width: 25rem;
    }
}

/* @media (min-width: 1256px) and (max-width: 1650px){
    .title-image{
        width: 25%;
    }
} */

@media (min-width: 992px) {
    .dropdown-menu {
        background-color: white;
        pointer-events: none;
        opacity: 0;
        display: block;
        transition: all 0.4s;
    }
    .dropdown:hover .dropdown-menu{
    display: block;
    pointer-events: initial;
    opacity: 1;
        }
}


@media (max-width:1256px){

    #title{
        text-align: center;
    }

    .title-image{
        position: static;
        width: 60%;
        transform: rotate(0);
    }

}


@media(max-width: 990px){
    #baltaPleasa{
        width: 45rem;
    }
} 


@media (max-width: 700px){
    #baltaPleasa{
        width: 20rem;
    }
}

@media (max-width:700px){
    #baltaPleasa2{
        width: 16rem;
        margin-bottom: 55px;
        margin-right: 10px;
    }
}

@media (max-width: 1550px){
    #baltaPleasa{
        width: 25rem;
    }

}

@media (max-width: 1550px){
    #baltaPleasa2{
        width: 25rem;
    }

}

@media (max-width: 505px){
    #baltaPleasa{
        width: 15rem;
    }
    .textPleasa2{
        font-size: 1rem;
    }
}

@media (max-width: 505px){
    #baltaPleasa2{
        width: 15rem;
    }
    .textPleasa{
        font-size: 1rem;
    }
}

@media (max-width: 475px){
    .firstText{
        font-size: 1.5rem;
    }
}

@media (max-width: 900px) {
    #row img:hover{
        transition: 0.4s;
        width: 20rem;
    }
}